/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #b21b6e;
}

.wrapper {
  width: 90%;
  max-width: 90vw; 
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 90px auto 20px;
}

.wrapper button {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#special-characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 3px;  
}

.special-character-btn {
  width: 50px; 
  height: 35px; 
  font-size: 15px; 
  margin: 5px; 
  text-align: center;
  line-height: 15px;
}

.high-score-box {
  text-align: right;
  font-size: 14px; 
}

.wrapper h1 {
  font-size: 22px; 
  font-weight: 700;
  padding: 15px 0; 
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.wrapper .content {
  margin: 15px 0; 
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs input {
  height: 35px; 
  width: 35px; 
  margin: 4px;
  font-size: 14px; 
  text-align: center;
  color: #580031;
  font-weight: bold;
}

.score {
  font-size: 14px; 
  font-weight: bold;
  text-align: left;
}

.typing-input {
  opacity: 0;
  z-index: -999;
  position: absolute;
  pointer-events: none;
}

.details {
  margin: 15px 0; 
}

.details p {
  font-size: 14px; 
  margin-bottom: 10px;
}

.content .reset-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 10px 0; 
  font-size: 14px; 
  border-radius: 5px;
  background: #1bb295;
  transition: all 0.3s ease;
}

.content .reset-btn:hover {
  background: #18a589;
}


@media screen and (max-width: 460px) {
  .wrapper {
    padding: 15px; 
    margin: 50px auto 20px; 
  }

  .wrapper h1 {
    font-size: 20px; 
  }

  .inputs input {
    height: 30px;
    width: 30px; 
    margin: 3px;
    font-size: 12px;
  }

  .score {
    font-size: 16px; 
  }

  .details p {
    font-size: 12px; 
  }

  .content .reset-btn {
    padding: 8px 0; 
    font-size: 12px; 
  }

  .high-score-box {
    font-size: 12px; 
  }
}

  
.file-upload {
  background: #1bb295;
  text-align: center;
  padding: 10px 15px; 
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}